In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('D:\\vishal data\\csv file\\HR Data.csv')

In [3]:
df

,Attrition,Business Travel,CF_age band,CF_attrition label,Department,Education Field,emp no,Employee Number,Gender,Job Role,...,Performance Rating,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
0,Yes,Travel_Rarely,35 - 44,Ex-Employees,Sales,Life Sciences,STAFF-1,1,Female,Sales Executive,...,3,1,80,0,8,1,6,4,0,5
1,No,Travel_Frequently,45 - 54,Current Employees,R&D,Life Sciences,STAFF-2,2,Male,Research Scientist,...,4,4,80,1,10,3,10,7,1,7
2,Yes,Travel_Rarely,35 - 44,Ex-Employees,R&D,Other,STAFF-4,4,Male,Laboratory Technician,...,3,2,80,0,7,3,0,0,0,0
3,No,Travel_Frequently,25 - 34,Current Employees,R&D,Life Sciences,STAFF-5,5,Female,Research Scientist,...,3,3,80,0,8,3,8,7,3,0
4,No,Travel_Rarely,25 - 34,Current Employees,R&D,Medical,STAFF-7,7,Male,Laboratory Technician,...,3,4,80,1,6,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Yes,Non-Travel,25 - 34,Ex-Employees,R&D,Technical Degree,STAFF-1905,1905,Male,Research Scientist,...,4,2,80,1,5,3,5,2,3,0
1466,Yes,Travel_Frequently,25 - 34,Ex-Employees,R&D,Life Sciences,STAFF-1868,1868,Male,Research Scientist,...,4,2,80,0,1,2,1,0,1,0
1467,Yes,Travel_Frequently,35 - 44,Ex-Employees,Sales,Other,STAFF-1667,1667,Male,Sales Executive,...,4,1,80,0,13,4,11,9,6,7
1468,Yes,Travel_Rarely,Under 25,Ex-Employees,R&D,Life Sciences,STAFF-1878,1878,Male,Research Scientist,...,4,1,80,0,1,3,1,0,0,0
1469,Yes,Travel_Rarely,Under 25,Ex-Employees,Sales,Life Sciences,STAFF-1702,1702,Male,Sales Representative,...,4,2,80,1,3,3,3,2,0,2

In [5]:
df.isnull().sum().sum()

0

In [24]:
df.groupby(['Department', 'Education Field']).count()

                             Attrition  Business Travel  CF_age band  \
Department Education Field
HR         Human Resources          27               27           27
           Life Sciences            16               16           16
           Medical                  13               13           13
           Other                     3                3            3
           Technical Degree          4                4            4
R&D        Life Sciences           440              440          440
           Medical                 363              363          363
           Other                    64               64           64
           Technical Degree         94               94           94
Sales      Life Sciences           150              150          150
           Marketing               159              159          159
           Medical                  88               88           88
           Other                    15               15           15
           Technical Degree         34               34           34

                             CF_attrition label  emp no  Employee Number  \
Department Education Field
HR         Human Resources                   27      27               27
           Life Sciences                     16      16               16
           Medical                           13      13               13
           Other                              3       3                3
           Technical Degree                   4       4                4
R&D        Life Sciences                    440     440              440
           Medical                          363     363              363
           Other                             64      64               64
           Technical Degree                  94      94               94
Sales      Life Sciences                    150     150              150
           Marketing                        159     159              159
           Medical                           88      88               88
           Other                             15      15               15
           Technical Degree                  34      34               34

                             Gender  Job Role  Marital Status  Over Time  ...  \
Department Education Field                                                ...
HR         Human Resources       27        27              27         27  ...
           Life Sciences         16        16              16         16  ...
           Medical               13        13              13         13  ...
           Other                  3         3               3          3  ...
           Technical Degree       4         4               4          4  ...
R&D        Life Sciences        440       440             440        440  ...
           Medical              363       363             363        363  ...
           Other                 64        64              64         64  ...
           Technical Degree      94        94              94         94  ...
Sales      Life Sciences        150       150             150        150  ...
           Marketing            159       159             159        159  ...
           Medical               88        88              88         88  ...
           Other                 15        15              15         15  ...
           Technical Degree      34        34              34         34  ...

                             Performance Rating  Relationship Satisfaction  \
Department Education Field
HR         Human Resources                   27                         27
           Life Sciences                     16                         16
           Medical                           13                         13
           Other                              3                          3
           Technical Degree                   4                          4
R&D        Life Sciences                    440                        440
           Medical                          363                        363
           Other                             64                         64
           Technical Degree                  94                         94
Sales      Life Sciences                    150                        150
           Marketing                        159                        159
           Medical                           88                         88
           Other                             15                         15
           Technical Degree                  34                         34

                             Standard Hours  Stock Option Level  \
Department Education Field
HR         Human Resources               27                  27
           Life Sciences                 16                  16
           Medical                       13                  13
           Other                          3                   3
           Technical Degree               4                   4
R&D        Life Sciences                440                 440
           Medical                      363                 363
           Other                         64                  64
           Technical Degree              94                  94
Sales      Life Sciences                150                 150
           Marketing                    159                 159
           Medical                       88                  88
           Other                         15                  15
           Technical Degree              34                  34

                             Total Working Years  Work Life Balance  \
Department Education Field
HR         Human Resources                    27                 27
           Life Sciences                      16                 16
           Medical                            13                 13
           Other                               3                  3
           Technical Degree                    4                  4
R&D        Life Sciences                     440                440
           Medical                           363                363
           Other                              64                 64
           Technical Degree                   94                 94
Sales      Life Sciences                     150                150
           Marketing                         159                159
           Medical                            88                 88
           Other                              15                 15
           Technical Degree                   34                 34

                             Years At Company  Years In Current Role  \
Department Education Field
HR         Human Resources                 27                     27
           Life Sciences                   16                     16
           Medical                         13                     13
           Other                            3                      3
           Technical Degree                 4                      4
R&D        Life Sciences                  440                    440
           Medical                        363                    363
           Other                           64                     64
           Technical Degree                94                     94
Sales      Life Sciences                  150                    150
           Marketing                      159                    159
           Medical                         88                     88
           Other                           15                     15
           Technical Degree                34                     34

                             Years Since Last Promotion  \
Department Education Field
HR         Human Resources                           27
           Life Sciences                             16
           Medical                                   13
           Other                                      3
           Technical Degree                           4
R&D        Life Sciences                            440
           Medical                                  363
           Other                                     64
           Technical Degree                          94
Sales      Life Sciences                            150
           Marketing                                159
           Medical                                   88
           Other                                     15
           Technical Degree                          34

                             Years With Curr Manager
Department Education Field
HR         Human Resources                        27
           Life Sciences                          16
           Medical                                13
           Other                                   3
           Technical Degree                        4
R&D        Life Sciences                         440
           Medical                               363
           Other                                  64
           Technical Degree                       94
Sales      Life Sciences                         150
           Marketing                             159
           Medical                                88
           Other                                  15
           Technical Degree                       34

[14 rows x 37 columns]

In [21]:
df.groupby(['CF_age band']).mean()

,Employee Number,Training Times Last Year,Age,CF_current Employee,Daily Rate,Distance From Home,Employee Count,Environment Satisfaction,Hourly Rate,Job Involvement,...,Performance Rating,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
CF_age band,,,,,,,,,,,,,,,,,,,,,
25 - 34,1026.853791,2.814079,30.142599,0.797834,797.536101,9.057762,1.0,2.722022,65.324910,2.693141,...,3.155235,2.702166,80.0,0.806859,7.368231,2.736462,5.772563,3.909747,1.691336,3.810469
35 - 44,1050.095050,2.813861,38.784158,0.899010,799.897030,9.372277,1.0,2.700990,66.106931,2.750495,...,3.148515,2.677228,80.0,0.817822,12.071287,2.792079,7.800000,4.623762,2.506931,4.615842
45 - 54,1001.840816,2.755102,48.828571,0.897959,843.195918,9.065306,1.0,2.746939,66.493878,2.738776,...,3.146939,2.746939,80.0,0.816327,18.918367,2.734694,9.387755,5.085714,2.938776,4.910204
Over 55,963.101449,2.623188,56.869565,0.840580,756.188406,9.115942,1.0,2.782609,67.420290,2.753623,...,3.188406,3.000000,80.0,0.797101,22.028986,2.681159,9.565217,5.028986,3.275362,4.347826
Under 25,984.247423,2.876289,21.711340,0.608247,774.340206,9.402062,1.0,2.721649,65.391753,2.793814,...,3.164948,2.659794,80.0,0.536082,2.556701,2.865979,2.113402,1.268041,0.690722,1.195876

In [27]:
df.groupby(['Gender', 'Job Role']).mean()

                                  Employee Number  Training Times Last Year  \
Gender Job Role
Female Healthcare Representative      1008.333333                  2.823529
       Human Resources                1307.125000                  2.062500
       Laboratory Technician           976.611765                  3.105882
       Manager                         873.127660                  3.000000
       Manufacturing Director         1068.819444                  2.888889
       Research Director              1015.424242                  2.666667
       Research Scientist              962.157895                  2.771930
       Sales Executive                1036.219697                  2.810606
       Sales Representative           1040.157895                  3.078947
Male   Healthcare Representative      1117.150000                  2.700000
       Human Resources                1204.861111                  2.777778
       Laboratory Technician          1010.235632                  2.873563
       Manager                        1011.236364                  2.654545
       Manufacturing Director          929.657534                  2.602740
       Research Director               971.787234                  2.851064
       Research Scientist             1029.955056                  2.595506
       Sales Executive                1061.211340                  2.845361
       Sales Representative           1040.333333                  2.955556

                                        Age  CF_current Employee  Daily Rate  \
Gender Job Role
Female Healthcare Representative  38.901961             0.901961  787.156863
       Human Resources            34.437500             0.625000  869.812500
       Laboratory Technician      35.270588             0.811765  814.047059
       Manager                    47.680851             0.957447  900.191489
       Manufacturing Director     38.638889             0.944444  744.861111
       Research Director          41.909091             0.969697  731.121212
       Research Scientist         33.991228             0.850877  797.122807
       Sales Executive            37.833333             0.848485  830.628788
       Sales Representative       30.052632             0.578947  827.052632
Male   Healthcare Representative  40.387500             0.950000  897.025000
       Human Resources            35.972222             0.833333  708.194444
       Laboratory Technician      33.522989             0.735632  788.103448
       Manager                    45.981818             0.945455  682.763636
       Manufacturing Director     37.958904             0.917808  846.479452
       Research Director          45.468085             0.978723  852.531915
       Research Scientist         34.393258             0.831461  802.432584
       Sales Executive            36.247423             0.809278  782.685567
       Sales Representative       30.622222             0.622222  798.088889

                                  Distance From Home  Employee Count  \
Gender Job Role
Female Healthcare Representative            9.529412             1.0
       Human Resources                     10.750000             1.0
       Laboratory Technician                7.764706             1.0
       Manager                              9.085106             1.0
       Manufacturing Director               8.750000             1.0
       Research Director                    9.727273             1.0
       Research Scientist                  10.043860             1.0
       Sales Executive                      9.825758             1.0
       Sales Representative                 7.315789             1.0
Male   Healthcare Representative            9.950000             1.0
       Human Resources                      7.027778             1.0
       Laboratory Technician               10.212644             1.0
       Manager                              7.127273             1.0
       Manufacturing Director              10.205479             1.0
       Research Director                    7.531915             1.0
       Research Scientist                   8.353933             1.0
       Sales Executive                      9.546392             1.0
       Sales Representative                 9.800000             1.0

                                  Environment Satisfaction  Hourly Rate  \
Gender Job Role
Female Healthcare Representative                  2.843137    63.313725
       Human Resources                            2.750000    56.000000
       Laboratory Technician                      2.741176    62.976471
       Manager                                    2.829787    65.234043
       Manufacturing Director                     2.819444    64.555556
       Research Director                          2.242424    65.333333
       Research Scientist                         2.701754    69.754386
       Sales Executive                            2.659091    67.318182
       Sales Representative                       2.868421    67.500000
Male   Healthcare Representative                  2.725000    69.087500
       Human Resources                            2.527778    67.805556
       Laboratory Technician                      2.706897    68.494253
       Manager                                    2.709091    68.200000
       Manufacturing Director                     3.013699    65.452055
       Research Director                          2.680851    62.659574
       Research Scientist                         2.741573    64.758427
       Sales Executive                            2.680412    64.159794
       Sales Representative                       2.622222    61.666667

                                  Job Involvement  ...  Performance Rating  \
Gender Job Role                                    ...
Female Healthcare Representative         2.725490  ...            3.117647
       Human Resources                   2.750000  ...            3.125000
       Laboratory Technician             2.682353  ...            3.164706
       Manager                           2.744681  ...            3.212766
       Manufacturing Director            2.680556  ...            3.180556
       Research Director                 2.848485  ...            3.121212
       Research Scientist                2.728070  ...            3.166667
       Sales Executive                   2.742424  ...            3.159091
       Sales Representative              2.526316  ...            3.131579
Male   Healthcare Representative         2.737500  ...            3.175000
       Human Resources                   2.694444  ...            3.138889
       Laboratory Technician             2.701149  ...            3.160920
       Manager                           2.800000  ...            3.181818
       Manufacturing Director            2.684932  ...            3.191781
       Research Director                 2.723404  ...            3.085106
       Research Scientist                2.842697  ...            3.168539
       Sales Executive                   2.695876  ...            3.103093
       Sales Representative              2.755556  ...            3.155556

                                  Relationship Satisfaction  Standard Hours  \
Gender Job Role
Female Healthcare Representative                   2.588235            80.0
       Human Resources                             2.812500            80.0
       Laboratory Technician                       2.482353            80.0
       Manager                                     2.957447            80.0
       Manufacturing Director                      2.777778            80.0
       Research Director                           2.545455            80.0
       Research Scientist                          2.771930            80.0
       Sales Executive                             2.659091            80.0
       Sales Representative                        2.605263            80.0
Male   Healthcare Representative                   2.762500            80.0
       Human Resources                             3.027778            80.0
       Laboratory Technician                       2.787356            80.0
       Manager                                     2.690909            80.0
       Manufacturing Director                      2.671233            80.0
       Research Director                           2.787234            80.0
       Research Scientist                          2.662921            80.0
       Sales Executive                             2.731959            80.0
       Sales Representative                        2.600000            80.0

                                  Stock Option Level  Total Working Years  \
Gender Job Role
Female Healthcare Representative            0.784314            13.921569
       Human Resources                      0.875000             7.937500
       Laboratory Technician                0.741176             8.058824
       Manager                              0.808511            24.361702
       Manufacturing Director               0.819444            13.680556
       Research Director                    0.878788            19.000000
       Research Scientist                   0.692982             8.271930
       Sales Executive                      0.840909            11.386364
       Sales Representative                 0.684211             4.473684
Male   Healthcare Representative            0.862500            14.162500
       Human Resources                      0.694444             8.277778
       Laboratory Technician                0.856322             7.459770
       Manager                              0.690909            24.709091
       Manufacturing Director               0.808219            11.904110
       Research Director                    0.829787            23.085106
       Research Scientist                   0.825843             7.359551
       Sales Executive                      0.804124            10.907216
       Sales Representative                 0.577778             4.844444

                                  Work Life Balance  Years At Company  \
Gender Job Role
Female Healthcare Representative           2.705882          9.215686
       Human Resources                     2.937500          4.562500
       Laboratory Technician               2.776471          5.317647
       Manager                             2.702128         11.574468
       Manufacturing Director              2.750000          8.236111
       Research Director                   2.757576         11.636364
       Research Scientist                  2.666667          5.289474
       Sales Executive                     2.840909          7.696970
       Sales Representative                2.868421          3.078947
Male   Healthcare Representative           2.700000          7.837500
       Human Resources                     2.916667          5.666667
       Laboratory Technician               2.689655          4.873563
       Manager                             2.836364         16.872727
       Manufacturing Director              2.780822          6.972603
       Research Director                   2.936170         10.446809
       Research Scientist                  2.685393          5.000000
       Sales Executive                     2.778351          7.360825
       Sales Representative                2.911111          2.777778

                                  Years In Current Role  \
Gender Job Role
Female Healthcare Representative               5.529412
       Human Resources                         2.500000
       Laboratory Technician                   3.247059
       Manager                                 6.510638
       Manufacturing Director                  5.111111
       Research Director                       7.060606
       Research Scientist                      3.298246
       Sales Executive                         4.840909
       Sales Representative                    1.973684
Male   Healthcare Representative               4.437500
       Human Resources                         3.416667
       Laboratory Technician                   3.178161
       Manager                                 6.400000
       Manufacturing Director                  4.835616
       Research Director                       5.744681
       Research Scientist                      3.258427
       Sales Executive                         4.865979
       Sales Representative                    2.044444

                                  Years Since Last Promotion  \
Gender Job Role
Female Healthcare Representative                    3.254902
       Human Resources                              1.375000
       Laboratory Technician                        1.788235
       Manager                                      3.723404
       Manufacturing Director                       2.361111
       Research Director                            3.333333
       Research Scientist                           1.464912
       Sales Executive                              2.628788
       Sales Representative                         1.052632
Male   Healthcare Representative                    2.787500
       Human Resources                              1.222222
       Laboratory Technician                        1.241379
       Manager                                      5.781818
       Manufacturing Director                       1.876712
       Research Director                            3.085106
       Research Scientist                           1.533708
       Sales Executive                              2.386598
       Sales Representative                         1.066667

                                  Years With Curr Manager
Gender Job Role
Female Healthcare Representative                 5.137255
       Human Resources                           3.250000
       Laboratory Technician                     3.305882
       Manager                                   5.595745
       Manufacturing Director                    5.097222
       Research Director                         6.515152
       Research Scientist                        3.245614
       Sales Executive                           4.727273
       Sales Representative                      1.815789
Male   Healthcare Representative                 4.212500
       Human Resources                           3.138889
       Laboratory Technician                     3.293103
       Manager                                   6.854545
       Manufacturing Director                    4.794521
       Research Director                         5.765957
       Research Scientist                        3.185393
       Sales Executive                           4.644330
       Sales Representative                      1.533333

[18 rows x 26 columns]