In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('D:\\vishal data\\csv file\\audi.csv')

In [11]:
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,A1,2017.0,12500.0,Manual,15735.0,Petrol,150.0,55.4,1.4
1,A6,2016.0,16500.0,Automatic,36203.0,Diesel,20.0,NaN,2.0
2,A1,2016.0,11000.0,Manual,NaN,Petrol,30.0,55.4,1.4
3,A4,2017.0,16800.0,Automatic,25952.0,Diesel,145.0,67.3,2.0
4,A3,2019.0,17300.0,Manual,1998.0,Petrol,145.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...
10663,A3,2020.0,16999.0,Manual,4018.0,Petrol,145.0,49.6,1.0
10664,A3,2020.0,16999.0,Manual,1978.0,Petrol,150.0,49.6,1.0
10665,A3,2020.0,17199.0,Manual,609.0,Petrol,NaN,49.6,1.0
10666,Q3,2017.0,19499.0,Automatic,8646.0,Petrol,150.0,47.9,1.4
10667,Q3,NaN,15999.0,Manual,11855.0,Petrol,150.0,47.9,1.4

In [17]:
df.dropna()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,A1,2017.0,12500.0,Manual,15735.0,Petrol,150.0,55.4,1.4
3,A4,2017.0,16800.0,Automatic,25952.0,Diesel,145.0,67.3,2.0
5,A1,2016.0,13900.0,Automatic,32260.0,Petrol,30.0,58.9,1.4
6,A6,2016.0,13250.0,Automatic,76788.0,Diesel,30.0,61.4,2.0
8,A3,2015.0,10200.0,Manual,46112.0,Petrol,20.0,60.1,1.4
...,...,...,...,...,...,...,...,...,...
10661,A4,2011.0,6995.0,Manual,95000.0,Diesel,145.0,53.3,2.0
10662,A3,2013.0,12695.0,Manual,31500.0,Petrol,125.0,53.3,1.4
10663,A3,2020.0,16999.0,Manual,4018.0,Petrol,145.0,49.6,1.0
10664,A3,2020.0,16999.0,Manual,1978.0,Petrol,150.0,49.6,1.0
10666,Q3,2017.0,19499.0,Automatic,8646.0,Petrol,150.0,47.9,1.4

In [19]:
df.drop_duplicates()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,A1,2017.0,12500.0,Manual,15735.0,Petrol,150.0,55.4,1.4
1,A6,2016.0,16500.0,Automatic,36203.0,Diesel,20.0,NaN,2.0
2,A1,2016.0,11000.0,Manual,NaN,Petrol,30.0,55.4,1.4
3,A4,2017.0,16800.0,Automatic,25952.0,Diesel,145.0,67.3,2.0
4,A3,2019.0,17300.0,Manual,1998.0,Petrol,145.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...
10663,A3,2020.0,16999.0,Manual,4018.0,Petrol,145.0,49.6,1.0
10664,A3,2020.0,16999.0,Manual,1978.0,Petrol,150.0,49.6,1.0
10665,A3,2020.0,17199.0,Manual,609.0,Petrol,NaN,49.6,1.0
10666,Q3,2017.0,19499.0,Automatic,8646.0,Petrol,150.0,47.9,1.4
10667,Q3,NaN,15999.0,Manual,11855.0,Petrol,150.0,47.9,1.4

In [23]:
df.drop_duplicates().dropna()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,A1,2017.0,12500.0,Manual,15735.0,Petrol,150.0,55.4,1.4
3,A4,2017.0,16800.0,Automatic,25952.0,Diesel,145.0,67.3,2.0
5,A1,2016.0,13900.0,Automatic,32260.0,Petrol,30.0,58.9,1.4
6,A6,2016.0,13250.0,Automatic,76788.0,Diesel,30.0,61.4,2.0
8,A3,2015.0,10200.0,Manual,46112.0,Petrol,20.0,60.1,1.4
...,...,...,...,...,...,...,...,...,...
10661,A4,2011.0,6995.0,Manual,95000.0,Diesel,145.0,53.3,2.0
10662,A3,2013.0,12695.0,Manual,31500.0,Petrol,125.0,53.3,1.4
10663,A3,2020.0,16999.0,Manual,4018.0,Petrol,145.0,49.6,1.0
10664,A3,2020.0,16999.0,Manual,1978.0,Petrol,150.0,49.6,1.0
10666,Q3,2017.0,19499.0,Automatic,8646.0,Petrol,150.0,47.9,1.4

In [25]:
duplicateRows = df[df.duplicated()]
duplicateRows

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
273,Q3,2019.0,34485.0,Automatic,10.0,Diesel,145.0,47.1,2.0
764,Q2,2019.0,22495.0,Manual,1000.0,Diesel,145.0,49.6,1.6
784,Q3,2015.0,13995.0,Manual,35446.0,Diesel,145.0,54.3,2.0
967,Q5,2019.0,31998.0,Semi-Auto,100.0,Petrol,145.0,33.2,2.0
990,Q2,2019.0,22495.0,Manual,1000.0,Diesel,145.0,49.6,1.6
...,...,...,...,...,...,...,...,...,...
9508,A4,2019.0,26990.0,Automatic,2250.0,Diesel,145.0,50.4,2.0
9521,Q3,2019.0,26990.0,Manual,10.0,Petrol,145.0,40.9,1.5
9529,Q5,2019.0,44990.0,Automatic,10.0,Diesel,145.0,36.2,2.0
9550,Q3,2019.0,29995.0,Manual,10.0,Petrol,145.0,39.8,1.5
9597,Q3,2019.0,28490.0,Manual,10.0,Diesel,145.0,42.8,2.0